# Ignore Compiled Binaries (The C++ output)
*.exe
*.o
*.obj

# Ignore Python specific files
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Ignore OS-specific files (Personal metadata)
desktop.ini
.DS_Store

# Ignore temporary logs or backups
*.log
Backup_*/
legacy_*/

# Ignore User-specific paths if any are generated
.vscode/
.idea/


# Hidden Prototypes
app_forensics.py
folder_forensics.py
hud_visualizer.py
tracer.cpp
tracer.exe
